<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>id</th>
                <th>ROTAS</th>
                <th>MOTORISTA</th>
            </tr>
            {% for rota in rotas %}
            <tr>
                <td>{{rota.id_rotas}}</td>
                <td>{{rota.rota}}</td>
                <td>{{rota.motorista}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>